{% if atuin_container_labels_traefik_enabled %}
{% if atuin_container_labels_traefik_docker_network %}
traefik.docker.network={{ atuin_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if atuin_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in atuin_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ atuin_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [atuin_identifier + '-add-request-headers'] %}
{% endif %}

{% if atuin_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in atuin_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ atuin_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [atuin_identifier + '-add-response-headers'] %}
{% endif %}

traefik.enable=true
{% endif %}
traefik.http.routers.{{ atuin_identifier }}.rule=Host("{{ atuin_hostname }}")
{% if atuin_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ atuin_identifier }}.priority={{ atuin_container_labels_traefik_priority }}
{% endif %}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ atuin_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ atuin_identifier }}.service={{ atuin_identifier }}
traefik.http.routers.{{ atuin_identifier }}.entrypoints={{ atuin_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ atuin_identifier }}.tls={{ atuin_container_labels_traefik_tls | to_json }}
{% if atuin_container_labels_traefik_tls %}
traefik.http.routers.{{ atuin_identifier }}.tls.certResolver={{ atuin_container_labels_traefik_tls_certResolver }}
{% endif %}
traefik.http.services.{{ atuin_identifier }}.loadbalancer.server.port={{ atuin_container_http_port }}

{{ atuin_container_labels_additional_labels }}
